# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules/
build/
.env
# Ignore frontend and backend node_modules separately
auction_project/node_modules/
auction-backend/node_modules/

# Ignore frontend build outputs
auction_project/dist/

# Ignore backend build (if any)
auction-backend/build/

# Environment files
auction_project/.env
auction-backend/.env