.home-container {
    text-align: center;
    margin-top: 50px; 
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.nav-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 24px;  
    font-size: 18px;  
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-btn:hover {
    background-color: #0056b3;
}

.bidding-section {
    margin-top: 30px;
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
.contact-footer {
    text-align: center;
    font-size: 14px; 
    color: gray;
    margin-top: 50px; 
}
.center-box {
    max-width: 400px;
    margin: 80px auto;
    padding: 30px;
    background-color: #f8f9fa;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .center-box input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .center-box button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 6px;
    cursor: pointer;
  transition: background-color 0.3s ease;
  }
  
  .center-box button:hover {
    background-color:  #0056b3;
  }  
  